body {
    background-color: #95d244;
}

button {
    background-color: #fcdd60 !important;
}

#ipsumTest {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow prevents video from spilling into artist directory section */
    overflow: hidden;
    min-height: 200vh;
    margin-bottom: 3em;
}

#burgerBoard {
    /* position and z-index pushes video to background and allows text to sit on top */
    position: absolute;
    z-index: -1;
    /* top, left, and transform finds/stays on the center of the video regardless of screen size */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.ipsumText {
    color: magenta;
}